body{
    background-color:#ccc;
    font-family:'Open Sans';
    color:#333;
    margin:0;
    padding:0;
}
.wrap-content{
    max-width: 1200px;
    margin:0 auto;
    padding:20px;
}

header{
    background:transparent url('header.jpg') center top no-repeat;
    padding:90px 30px;
    text-align:center;
}
header a{
    color:#fff;
}


h1{
    color:#fff;
    font-size:  50px;
    text-align: center;
}
p{
    margin:0 10px;
}
h1, h2, h3, h4{
    font-family:Oswald;
    font-weight:normal;
    text-transform: uppercase;
}
span.notes{
    color:#19AFE6;
}
span.notes span{
    font-size:14px;
    color:#acacad;
}
section{
    margin-bottom:60px;
}
.flex-legend{
    padding:10px;
    background-color:#f1f1f1;
}
.flex-example{
    background-color: #fff;
    padding:10px;
    margin-bottom:
}
.flex-container{
    display: flex;

}
@media (max-width: 1024px) {
    .flex-container{
        flex-direction: column;
    }
}
.flex-container div{
    background: #222230;
    padding:10px;
    margin:10px;
    color:#fff;
}


/* Example 1*/
.example1 div{
    background: #222230;
    padding:10px;
    color:#fff;
    flex: 1 0 auto; // grow | shrink | basis
}

/* Example 2*/
.example2 div{
    background: #222230;
    padding:10px;
    color:#fff;
    flex: 1 0 auto; // grow | shrink | basis
}

.example2 div:first-child{
    background: #222230;
    padding:10px;
    color:#fff;
    flex: 0 0 50%; // grow | shrink | basis
}

/* Example 3*/
.example3{
    flex-wrap: wrap;
}
.example3 div{
    background: #222230;
    padding:10px;
    color:#fff;
    flex: 1 1 20%; // grow | shrink | basis
}

/* Example 4*/
.example4{
    justify-content: center;
}
.example4 div{
    background: #222230;
    padding:10px;
    color:#fff;
    flex: 0 0 auto; // grow | shrink | basis
}

/* Example 5*/
.example5{
    justify-content: space-between;
}
.example5 div{
    background: #222230;
    padding:10px;
    color:#fff;
    flex: 0 0 auto; // grow | shrink | basis
}

/* Example 6*/
.example6{
    align-items: flex-start;
}
.example6 div{
    background: #222230;
    padding:10px;
    color:#fff;
    flex: 1 0 auto; // grow | shrink | basis
}


/* Example 7 */
.example7{
    align-items: stretch;
}
.example7 div{
    background: #222230;
    padding:10px;
    color:#fff;
    flex: 1 0 auto; // grow | shrink | basis
}

/* Example 8 */

.example8{
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}
.example8 div{
    background: #222230;
    padding:10px;
    color:#fff;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.example9{
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}
.example9 div{
    background: #222230;
    padding:10px;
    color:#fff;
    -webkit-flex: 1 1 20%;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
}